{% extends "layout.html" %} {% block title %} Week 5 - Flask {% endblock%} {% block body %}
<h1> Bottom of the Flask</h1>
<p>
  Our pages don&#39;t really do much... but Flask has come to our rescue!
  Flask is a Python web framework, meaning it allows us to design web applications
  in Python without much hassle. Read more about Flask
  <a href="http://flask.pocoo.org/">here</a>. We will use Flask to allow
  our our webpages to be more interactive and process input from a user.
  You should also know that this entire tutorial is designed using Flask.
</p>
<h2> The Basics </h2>
<p>
  We will make a very simple Flask application and walk through each line.
  This is put in a the file <span class="codepart">application.py</span>.
</p>
<h3>application.py</h3>
<pre><code class="python"><!--
--># imports Flask class
from flask import Flask

# makes our application the main program
application = Flask(__name__)

# This is the default path, "/", our homepage we
# then make a function under it doing what we want
@application.route("/")
def index():
  # When we go to the homepage, we will see Hello World!
  return "Hello World"

# You've seen this before. It makes sure our code
# doesn't run when imported
if __name__ == "__main__":
  # runs the application
  application.run()<!--
  --></code></pre>
<p>
  Now, when we run this program in python via typing
  <span class="codepart">python application.py</span> in the terminal,
  it will run. To access it locally, we can go to the address refered to
  by the terminal. It isn&#39;t much now, so let&#39;s see how we can make
  it better.
</p>
<h2> The Basics: Part 2</h2>
<p>
  Right now, our page just displays &#39;Hello World!&#39; very boringly.
  Luckily for us, we can also enter HTML into our return statement.
</p>
<h3>application.py</h3>
<pre><code class="python"><!--
-->from flask import Flask

application = Flask(__name__)

@application.route("/")
def index():
  return """&lt;h1&gt;Hello World!&lt;/h1&gt;
            &lt;p>&gt;
              It is nice to meet you!
            &lt;/p&gt;"""

if __name__ == "__main__":
  # runs the application
  application.run()<!--
  --></code></pre>
<p>
  We now have a way better looking webpage. It might not be perfect, but
  we could also place an entire HTML file in there, like so.
</p>
<h3>application.py</h3>
<pre><code class="python"><!--
-->from flask import Flask

application = Flask(__name__)

@application.route("/")
def index():
  return """&lt;!DOCTYPE html&gt;
            &lt;html&gt;
              &lt;head&gt;
                &lt;title&gt; Hello! &lt;/title&gt;
                &lt;style&gt;
                  h1 {
                    color: blue;
                  }
                &lt;/style&gt;
              &lt;/head&gt;
              &lt;body&gt;
                &lt;h1&gt;Hello World!&lt;/h1&gt;
                &lt;p&gt;
                  It is nice to meet you!
                &lt;/p&gt;
              &lt;/body&gt;
            &lt;/html&gt;"""

if __name__ == "__main__":
  # runs the application
  application.run()<!--
  --></code></pre>
<p>
  See? But placing an entire webpage in a string does not look or feel right.
  If we use <span class="codepart">render_template</span>, we can simply
  call upon a premade HTML file to load into our page. There are a few
  things Flask is picky about, so let&#39; resolve these problems.
</p>
<h3> HTML to Flask</h3>
<ul>
  <li>
    <p>
      <strong>File Structure:</strong> Before, we structured our website
      files so that or images, pages, and styleshees were in all different
      directories. This can still apply here, except we now place images
      and stylesheets in another directory, <span class="codepart">static</span>    as they do not change. We place our pages in another directory named
      <span class="codepart">templates</span>. This allows Flask to know
      where everything is and us to use functions like render_template.
    </p>
  </li>
  <li>
    <p>
      <strong>Linking:</strong> Previously we linked several files using
      relative paths. In Flask, this is not completely the same. When we
      want to link to a picture or a CSS file, we change the path we had
      before to
      <span class="codepart">"&#123;&#123; url_for( 'static', filename= 'file.png/file.css' ) &#125;&#125;"</span>.
      And to link to another HTML file, we can simply use
      <span class="codepart">"&#123;&#123; url_for( 'file.html' ) &#125;&#125;"</span>.
    </p>
  </li>
</ul>
<p>
  We now have the ability to load in HTML. Let&#39; put it in action by placing
  what we had in the return statement in a template named
  <span class="codepart">hello.html</span>.
</p>
<h3>application.py</h3>
<pre><code><!--
-->from flask import Flask, render_template

application = Flask(__name__)

@application.route("/")
def index():
  return render_template("hello.html")

if __name__ == "__main__":
  application.run()<!--
  --></code></pre>
<p>
  We now have the same result as before with a simpler code. But what if
  we want more pages? We simply add another route and tell it was to do.
</p>
<h3>application.py</h3>
<pre><code><!--
-->from flask import Flask, render_template

application = Flask(__name__)

@application.route("/")
def index():
  return render_template("hello.html")

@application.route("/bye")
def farewell():
  return "Bye!"

if __name__ == "__main__":
  application.run()<!--
  --></code></pre>
<p>
  Now, tere is a farwell message when someone appends &quot;/bye&quot; to
  the address. Try for yourself. We can also get to this page by using
  a hyperlink, like so:
  <span class="codepart">&lt;a href="&#123;&#123; url_for( 'bye' ) &#125;&#125;"</span>.
</p>
<p>
  We can now navigate from page to page and load templates. However, how
  can we load in variables? The answer is pretty simply, tbh. We simply
  specify to the page that we are passing in a variable and append it to
  the address.
</p>
<h3>application.py</h3>
<pre><code><!--
-->from flask import Flask, render_template

application = Flask(__name__)

@application.route("/")
def index():
  return render_template("hello.html")

@application.route("/bye/&lt;name&gt;")
def farewell(name):
  return "Bye " + name

if __name__ == "__main__":
  application.run()<!--
    --></code></pre>
<p>
  If we append a name to the end of the address bar, the bye page now tells
  that name bye! This is pretty simple, and we can actually pass in as
  many variables as we want by appending more and more variables. You may
  see this as really inconveinint, and it is, and we will learn a better
  way to do this in the future. There is just one last thing we must learn
  about Flask variables, and that is type. Flask automatically assumes
  that the variable we pass to it is a string. To specify otherwise, we
  add the type to the front of the variable name.
</p>
<h3>application.py</h3>
<pre><code><!--
-->from flask import Flask, render_template

application = Flask(__name__)

@application.route("/")
def index():
  return render_template("hello.html")

@application.route("/add/&lt;int:num&gt;")
def add(num):
  return num + 42

if __name__ == "__main__":
  application.run()<!--
    --></code></pre>
<p>
  You should never forget that Flask is a Python framework, and Python should
  be used to make more amazing websites. You can call functions and use
  loops, so do not forget to use these tools. Additionally, Flask allows
  us to run our program in debug mode, so we can more easily make changes
  to our website and catch errors. NEVER let debug mode be deployed as
  anyone who uses our site can see secret information.
</p>
<h3>application.py</h3>
<pre><code><!--
-->from flask import Flask, render_template

application = Flask(__name__)

@application.route("/")
def index():
  return render_template("hello.html")

@application.route("/odd/&lt;int:num&gt;")
def odd(num):
  ans = isOdd(num)
  if ans == True:
      return "The number is odd"
  return "The number is even"

def isOdd(num):
  return num % 2 == 1

if __name__ == "__main__":
  # This is the line that activates debug modep
  application.debug = True
  application.run()<!--
    --></code></pre>
<h2> Homework </h2>
<p>
  We have made a lot of progress with Flask, so now it is time to use it
  all. Your mission, should you choose to accept it, is to make a three
  Flask applications, one that takes a number and determines if it is prime,
  another that plays rock, paper, scissors with the user, and lastly, one
  of your choosing. Show off your skills!
</p>
<div style="padding-bottom: 100px">
  <a style="float: left" href="{{ url_for('week4') }}">Previous</a>
  <a style="float: right" href="{{ url_for('week6') }}">Next</a>
</div>
{% endblock %}
