<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    <title> Week 2 - Flask and AWS</title>

  </head>
  <nav>
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('intro') }}">Introduction</a></li>
      <li><a href="{{ url_for('week1') }}">Week 1</a></li>
      <li><a href="{{ url_for('week2') }}">Week 2</a></li>
      <li><a href="{{ url_for('week3') }}">Week 3</a></li>
      <li><a href="{{ url_for('week4') }}">Week 4</a></li>
      <li><a href="{{ url_for('week5') }}">Week 5</a></li>
      <li><a href="{{ url_for('week6') }}">Week 6</a></li>
      <li><a href="{{ url_for('week7') }}">Week 7</a></li>
    </ul>
  </nav>
  <h1> Showing Off</h1>
  <p>
    We have learned the basics of web development, but now we want to show of
    what we have done. Make sure that you pay attention here, as it is confusing.
    And do not worry, this week will be harder tham the rest. You do not need to
    set up an AWS account, only if you
  </p>
  <p>
     We will be making our webpage using Flask, which is a web framework for
     Python. We will then host our webpage using Amazon Web Services Elastic
     Beanstalk. Then our page will be accessible by anyone with our domain
     name.
  </p>
  <hr  />
  <h2> Getting Started </h2>
  <p>
    This tutorial is derived from the Amazon
    (<a href="http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create-deploy-python-flask.html">
      AWS
    </a>) tutorial. It is, however, a simplified and explained a tad bit better.
    <p>
      The two things you need installed before anything else are Python 3.4 and
      pip. Pip comes with Python 3.4, so if you have one, you should have the
      other as well.
    </p>
    <h2> Setting Up the Environment </h2>
    <ol>
      <li>
        We will first install virtualenv, which will allow us to create virtual
        python environments. This is done by typing:
        <ul>
          <li>
             pip install virtualenv
          </li>
        </ul>
      </li>
      <li>
        Next, we will install the Elastic Beanstalk (EB) Command Line Interface. It
        makes it easier for us to create, modify, and deploy applications.
        It can be installed using:
        <ul>
          <li>
            pip install awsebcli
          </li>
        </ul>
      </li>
      <li>
        With our setup somplete, we now move into the hard, er, fun stuff. To
        create a virtual environment with names mudd-virt, we use the following
        terminal command:
        <ul>
          <li>
            virtualenv ~/mudd-virt
          </li>
        </ul>
      </li>
      <li>
        To activate the environment so that you can work in/on it, we type:
        <ul>
          <li>
            source ~/mudd-virt/bin/activate
          </li>
        </ul>
        Now, the command prompt should have (mudd-virt) attached to each line.
        Otherwise, you messed up.
      </li>
      <li>
        We can now install Flask to this environment using the following command.
        The ==.011 is just the version of flask we are installing. See if there
        is a later stable version of Flask to install!
        <ul>
          <li>
            pip install flask==0.11
          </li>
        </ul>
      </li>
      <li>
        You can verify that Flask is install by using the the command:
        <ul>
          <li>
            pip freeze
          </li>
        </ul>
        Notice that there are serveral other things printed when you do this.
        This is because Flask depends on several other frameworks.
      </li>
    </ol>
    <h2>Creating the Application</h2>
    <p>
      Here is a provided Python file using Flask that displays Hello World. You
      can use this as your starter application as is or edit it. Or, you could
      make your own. Since we have not learned Flask yet, this will have to do.
      Also, nomenclature matters in this case, application.py is easier found
      by EB, and so the time to start your environment will be less.
    </p>
    <a href="application.py" download>Starter Code</a>
    <ol>
      <li>
        Make sure your environment is activated by using the same command earlier,
        <ul>
          <li>
            source ~/mudd-virt/bin/activate
          </li>
        </ul>
      </li>
      <li>
        We now create the folder where our project will be held and change our
        current directory to that one.
        <ul>
          <li>
            mkdir mudd-flask
          </li>
          <li>
            cd mudd-flask
          </li>
        </ul>
      </li>
      <li>
        This is something that perhaps you already have experience with. We
        simply run our application by doing the age old:
        <ul>
          <li>
            python application.py
          </li>
        </ul>
      </li>
      <li>
         Flask has just made a web server that we can view and debug our app from
         the address is displayed in the terminal, so all you have to do to
         view it is type whis into your favorite web browser. For example, my
         web server was at the address http://127.0.0.1:5000/.
      </li>
      <li>
        To view error logs, use our old friend Inspect Element. It will allow us
        to see whatever is wrong with our application. Once we are done, we can
        stop the server by using Ctrl+C.
      </li>
    </ol>
    <h2> Configuration </h2>
    <ol>
      <li>
        Make sure your environment is active, if not, do the following command.
        You should know this command very well by now.
        <ul>
          <li>
            source ~/mudd-virt/bin/activate
          </li>
        </ul>
      </li>
      <li>
         We now want to pipe the information from pip freeze into requirements.txt.
         This allows EB to know what files are required to run our web page and
         load them when it creates our environment.
         <ul>
           <li>
             pip freeze > requirements.txt
           </li>
         </ul>
      </li>
      <li>
        We can deactivate the virtual environment we are currently in by using
        the following command. When we want to work more, we can us simply
        reactivate it.
        <ul>
          <li>
            deactivate
          </li>
        </ul>
      </li>
    </ol>
    <h2> Setting Up Security Access</h2>
    <p>
       Of course, there should be some level of security between us and deploying
       our application, or else anyone could have access to it. To set up some
       security credentials for our application, we will follow the instructions
       below. Navigate to the AWS homepage to begin.
    </p>
    <ol>
      <li>
        <br />
        <a href="{{ url_for('static', filename='AWSsec/sec1.png') }}">
          <img src="{{ url_for('static', filename='AWSsec/sec1.png') }}" alt="Picture of AWS homepage. Your
          name is highlighted">
        </a>
        <p>
          Select your name in the top right of your browser. It is selected in red.
        </p>
      </li>
      <li>
        <br />
        <a href="{{ url_for('static', filename='AWSsec/sec2.png') }}">
          <img src="{{ url_for('static', filename='AWSsec/sec2.png') }}" alt="Picture of AWS homepage. 'Security
          Credentials' options in the dropdown menu is highlighted.">
      </a>
        <p>
          Now select the &#39;Security Credentials&#39; option.
        </p>
      </li>
      <li>
        <br />
        <a href="{{ url_for('static', filename='AWSsec/sec3.png') }}">
          <img src="{{ url_for('static', filename='AWSsec/sec3.png') }}" alt="Picture of Security Credentials page.
          The 'Users' option on the left of the screen is highlighted.">
        </a>
        <p>
          Now select the &#39;Users&#39; option to display the different users on
          your account. A user does not necessarily have to be a different person,
          just a different set of security permissions.
        </p>
      </li>
      <li>
        <br />
        <a href="{{ url_for('static', filename='AWSsec/sec4.png') }}">
          <img src="{{ url_for('static', filename='AWSsec/sec4.png') }}" alt="Picture of Users page.
          The 'Create New Users' option on the top of the screen is highlighted.">
        </a>
        <p>
          Now select the &#39;Create New Users&#39; option.
        </p>
      </li>
      <li>
        <br />
        <a href="{{ url_for('static', filename='AWSsec/sec5.png') }}">
          <img src="{{ url_for('static', filename='AWSsec/sec5.png') }}" alt="Picture of Create User page.
          The text box under 'Enter User Names' and the 'Close' button
          are highlighted and 'mudd' is in the the textbox.">
        </a>
        <p>
          Now enter a username in the first textbox. It should be specific to this
          project so that you can distinguish between projects.
        </p>
      </li>
      <li>
        <br />
        <a href="{{ url_for('static', filename='AWSsec/sec7.png') }}">
          <img src="{{ url_for('static', filename='AWSsec/sec7.png') }}" alt="Displays that a user was successfully
          created. The 'Download Credentials' button is highlighted.">
        </a>
        <p>
          We will now download the security credentials for this user. Make sure
          to save this file in a safe and memorible place, as it contains both
          our access key ID and the secret access key. The secret access key is
          like the password for our user. Once you are done downloading the file,
          hit the &#39;Close&#39; button beside the &#39;Download Credentials&#39;
          button.
        </p>
      </li>
      <li>
        <br />
        <a href="{{ url_for('static', filename='AWSsec/sec10.png') }}">
          <img src="{{ url_for('static', filename='AWSsec/sec10.png') }}" alt="Picture of the Users page again, except
          there is now an entry. The entry is highlighted.">
        </a>

        <p>
          Select the newly created user to modify its security permissions.
        </p>
      </li>
      <li>
        <br />
        <a href="{{ url_for('static', filename='AWSsec/sec11.png') }}">
          <img src="{{ url_for('static', filename='AWSsec/sec11.png') }}" alt="Profile of the selected user. The
          'Permissions' tab is open and 'Attach Policy' is highlighted.">
        </a>
        <p>
          Navigate to the &#39;Permissions&#39; tab if not already there. Click
          the &#39;Attach Policy&#39; button.
        </p>
      </li>
      <li>
        <br />
        <a href="{{ url_for('static', filename='AWSsec/sec12.png') }}">
          <img src="{{ url_for('static', filename='AWSsec/sec12.png') }}" alt="A list of all permission policies.
           The 'AWSElasticBeanstalkFullAccess' policy is highlighted">
        </a>
        <p>
          Find and select the &#39;AWSElasticBeanstalkFullAccess&#39; policy. This
          will give this user full acces to AWS Elastic Beanstalk. Click the
          &#39;Attach Policy&#39; to finalize our selection.
        </p>
      </li>
    </ol>
    <h2> Deployment</h2>
    <p>
       It is now time for the fun part, placing our web page online!
    </p>
    <ol>
      <li>
        <p>
          First, we will initialize a repository using the following command. It will
          automatically configure everything to work in Python 3.4. It will throw
          an error, saying that the current user does not have permission. To fix
          this, we will use the credentials we obtained in the last part of this
          tutorial. You know, the ones we downloaded in the .csv file.
        </p>
        <ul>
          <li>
            eb init -p python3.4 mudd-tutorial
          </li>
        </ul>
      </li>
      <li>
        <p>
          We will now create an envronment and deploy our application. This can
          take a while, so feel free to grab a snack.
        </p>
        <ul>
          <li>
            eb create mudd-env
          </li>
        </ul>

      </li>
      <li>
        <p>
          You should now be able to open your webpage using the following command.
          This is the cureent URL of your page and can also be accesed other places
          as well!
        </p>
        <ul>
          <li>
            eb open
          </li>
        </ul>
      </li>
    </ol>
  </p>
  <div style="padding-bottom: 100px" id="next">
    <a style="float: left" href="{{ url_for('week1') }}">Previous</a>
    <a style="float: right" href="{{ url_for('week3') }}">Next</a>
  </div>
</html>
