{% extends "layout.html" %} {% block title %} Week 7 - Forms and APIs {%
endblock %} {% block body %}
<h1> Form-ulate a Plan</h1>
<p>
  Our application cannot receive a lot of input from a user, unless we want
  to append a bunch of variable to the address bar. This is not very efficient,
  and there is a solution: <strong>Forms</strong>. You have filled out
  plenty of forms in your lifetime, mostly when you fill out a registration
  form. A form is simply a group of inputs, and we will use these to gather
  information from our users. Here is an example.
</p>
<h3>register.html</h3>
<pre><code class="html"><!--
      -->&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt; Register &lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;!-- We use the action attrbute for when we redirect our page to the new one
     the method is so that the page knows we are sending information --&gt;
&lt;form action=&quot;/register&quot; method=&quot;POST&quot;&gt;

  &lt;!-- In general, the name of an input is to group it with similar elements.
       In the case of radio buttons, it makes it so that only one can be clicked
       at once. In a little bit, we will see that we can request an element by name,
       and then we can distinguish elements by their values.--&gt;


  &lt;!-- These are ordinary textboxes. --&gt;
  Name
  &lt;input type=&quot;text&quot; name=&quot;name&quot; /&gt;
  Email
  &lt;input type=&quot;text&quot; name=&quot;email&quot; /&gt;

  &lt;!-- These are radio buttons --&gt;
  Do you like chocolate?
  &lt;input type=&quot;radio&quot; name=&quot;chocolate&quot; value=&quot;yes&quot; /&gt; Yes
  &lt;input type=&quot;radio&quot; name=&quot;chocolate&quot; value=&quot;no&quot; /&gt; No

  &lt;!-- Chekcboxes. --&gt;
  What type of pizza do you like?
  &lt;input type=&quot;checkbox&quot; name=&quot;pizza&quot; value=&quot;cheese&quot;/&gt; Cheese
  &lt;input type=&quot;checkbox&quot; name=&quot;pizza&quot; value=&quot;pepperoni&quot;/&gt; Pepperoni
  &lt;input type=&quot;checkbox&quot; name=&quot;pizza&quot; value=&quot;other&quot; /&gt; Other

  &lt;!-- This is a textarea, it is just a big block that can be written. --&gt;
  Write about yourself.
  &lt;textarea cols=&quot;80&quot; rows=&quot;10&quot;&gt;&lt;/textarea&gt;

  &lt;!-- Submit the form --&gt;
  &lt;input type=&quot;submit&quot; value=&quot;Continue&quot; /&gt;

&lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;
<!--
      --></code></pre>
<p>
  There are a few differences when we want to send data. We first must import
  request so that we can "POST" to different pages. By default, we use
  "GET" when we go to a page. When we send information from forms, we want
  to "POST." We also must specific in the URL rule that we are posting.
</p>
<h3> application.py </h3>
<pre><code><!--
  -->from flask import Flask, render_template, request

application = Flask(__name__)

@application.route(&quot;/&quot;)
def index():
    return render_template(&quot;register.html&quot;)

@application.route(&quot;/register&quot;, methods = [&quot;POST&quot;])
def register():
    if request.method == &quot;POST&quot;:
        # A string, should be the user&#39;s name
        name = request.form[&quot;name&quot;]
        # A string, should be the user&#39;s email
        email = request.form[&quot;email&quot;]

        # Will get the the answer to the chocolate question and put it in a list.
        coco = request.form.getlist(&quot;chocolate&quot;)

        # Every checkbox that is checked will be put in a list
        pizza = request.form.getlist(&quot;pizza&quot;)

        pizzaLove = &quot;&quot;
        for pie in pizza:
            pizzaLove += pie + &quot;, &quot;

        # return a basic confirmation message
        return &quot;&quot;&quot;&lt;h1&gt; Hello %s &lt;/h1&gt;
                &lt;p&gt; I can reach you at %s. &lt;/p&gt;
                &lt;p&gt; You like %s and so do I &lt;/p&gt;&quot;&quot;&quot; % (name, email, pizzaLove)


if __name__ == &quot;__main__&quot;:
    application.debug = True
    application.run()<!--
      --></code></pre>
<p>
  Well that was awkwardly fast. I guess you have to learn a little more.
</p>
<h1> APIs</h1>
<p>
  An Application Programming Interface (API) is the easy way to receive information
  from a webpage. As a programmer, you may want to perform an action that
  is already done elsewhere, and APIs make it easier to perform that action.
  Perhaps you want to find the current weather in a city. You could do
  this similar to how humans do it and open up a webpage, then parse the
  information. Or, you could use the
  <a href="https://developers.google.com/civic-information/">
          Open Weather Map API
        </a>, which does this for you. Your choice. Either way, you should
  know that is an API for most things you want to do, and it can save a
  lot of time and effort if you use them.
</p>
<p>
  When you use an API, you are making an agreement between you and it. You
  agree to ask for inputs in a certain format, and in return, you get the
  information you require. It is much like making a function call; if you
  call isPrime(7), you will want to receive some indication that this is
  true, otherwise, you will be upset. However, if you call isPrime("Yo
  mama"), the function will probably be upset with you. For the most part,
  you access APIs by using HTTP as you would any website, and appending
  the parameters of your search to the end. The form of a request is
  <span class="codepart">http://baseurl?apikey=&attribute1=...&atrribute2=...</span>
  An API key is your identification to the API. There are many reasons
  for these keys, as some APIs have paid services or request limits. Thus,
  everyone&#39;s key can give then different access to the API. For some
  APIs, like this
  <a href="https://swapi.co/">
          Star Wars API
        </a>, an API key is not required as it a public API everyone
  has the same access. The question mark indicates the start of your query
  string, and the ampersands seperate the different parameters of your
  search.
</p>
<p>
  From this API call, you can may do at least one of the typical HTML methods,
  (GET, POST, PUT, DELETE, etc.), depending on the API. In the beginning,
  you will likely be using GET, as this does not modify the data on the
  server. The information you recieve will be in the form of JSON (JavaScript
  Object Notation) or XML (EXtensible Markup Language). XML is very similar
  to HTML, except that you get to make your own tags, and JSON is a clean
  way to represent data.
</p>
<h3>XML</h3>
<pre><code class="xml"><!--
-->&lt;person&gt;
  &lt;name&gt;Tony Stark&lt;/name&gt;
  &lt;alias&gt;Iron Man&lt;/alias&gt;
  &lt;power&gt;Money&lt;/power&gt;
&lt;/person&gt;<!--
--></code></pre>
<h3>JSON</h3>
<pre><code class="json"><!--
-->{"Person":
  'name': "Tony Stark",
  "alias": "Iron Man",
  "power": "Money"
}<!--
--></code></pre>
<p>
  Now that you know how a little bit about APIs, we will see how to use one
  in Python. You may realize that you can access APIs in most languages,
  as JSON has direct conversions in many languages (it can convert directly
  to a Python dictionary), and so we will use the JSON format to obtain
  our data. If you would like, you can learn and use XML to make it hard
  on yourself.
</p>
<p>
  As mentioned above, JSON can convert directly to a Python dictionary, so
  it is very easy to parse. In the example above, the way we access the
  name of Person would be to use the same format as we would a dictionay,
  <span class="codepart">data["Person"]["name"]</span>, if we had saved
  the object as the variable data. You will have to look at the documentation
  to find out how the data will be represented, so get used to it. Now,
  let&#39;s run through an weather example in Python. We will be using
  <a href="http://openweathermap.org/forecast16">
          Open Weather Maps
        </a> to display information about the weather. You should have
  the documentation up for easy access.
</p>
<h3>weather.py</h3>
<pre><code class="python"><!--
--># This will make making HTTP requests easier and is far better than Python's
# urllib2 library. You should have it if you have anaconda, or just type
# pip install requests to get it
import requests
# This will allow us to load the JSOn reqponse we get.
from json import loads

# The base URL. All calls will have this same string as it's beginning, so use it
url = "http://api.openweathermap.org/data/2.5/forecast/daily?apikey="
# To get an API key, register on openweathermap.org And generate a key
key ="YOUR_API_KEY"

#add the key to the base url
url += key

# Specify the city and add to the new url
city = "Los Angeles"
url += "&amp;q=" + city

# Lets the API know we want this in json format
form = "json"
url +=",us&amp;mode=" + form # xml also a possibility

# Lets API know we want Imperial units (American)
# The documentation tells us it is stnadard by default, and no one wants
# the temperatue in degrees Kelvin
units = "imperial" # standard, metric
url += "&amp;units="+units

# Number of days we want forecast for. Max is sixteen, just realize that weather
# may be less accurate for future dates
days = 7
url += "&amp;cnt="+str(days)


# we now use requests to GET info from the url
response = requests.get(url)
# We load the JSON file as a dictionary
data = loads(response.text)

# We actually receive a lot more info that just the weather, like info on the
# city (name, coordinates, country, etc), so we pull out the weather info
weather = data['list']

# This returns a list of the weather for each day. So lets
# index into every day and get the weather
for day in weather:
# temperature for specific day
    temps = day['temp']
    print("High:", temps['max'])
    print("Low:", temps['min'])

    # Other info
    sky = day['weather'][0]
    print("Weather:", sky['main'])
    print("Humidity:", day['humidity'])
    print("Wind Speed:", day['speed'])
    print("*"*20)<!--
    --></code></pre>
<p>
  You may see how we can tailor our request to get different responses. This
  would allow us to change our search more programmatically instead of
  hardcoding one city into our webpage.
</p>
<h2> Homework </h2>
<p>
  We have just learned about APIs and forms, so now we will combine them.
  Make a web app that will ask a user for weather information, and output
  it in a nice way. Use pictures and any other visuals that will make your
  page nice.
</p>
<div style="padding-bottom: 100px">
  <a style="float: left" href="{{ url_for('week6') }}">Previous</a>
</div>
{% endblock %}
